# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      versioning-strategy: increase
      schedule:
          interval: 'weekly'

      ##
      # Use conventional commits so that an appropriate changeset can be
      # created for the change. Changes to dependencies will cause a `patch`
      # version, whereas devDependencies will cause no change.
      #
      # See: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#commit-message
      ##
      commit-message:
          prefix: 'fix'
          prefix-development: 'chore'
          include: 'scope'
