name: Pull Requests

on:
    pull_request:
        branches: [main]

jobs:
    test:
        name: Test Suite
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x, 18.x, 20.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use node ${{ matrix.node-version }}
              uses: actions/setup-node@latest
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install dependencies
              run: corepack enable && pnpm install --frozen-lockfile

            - name: Run test suite
              run: pnpm run test
